

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.main-nav {
}
.container-country {
	background: #FFF;
	/*display: none;*/
}
.container-country.active {
	display: block;
}

#video{
	background-image: 
}


footer {
	background-color: #FFAAAA;
	font-size: 2em;
}











